.MoviesCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 220px;
}
.MoviesTitle {
    display: flex;
    justify-content: center;
    text-align: center;
}
.dark .MoviesTitle{
    color: var(--base2);
}
.MoviesImg{
    border-radius: 20px;
}


.MoviesImg{
    padding: 10px;
    background: var(--base2);
    border: none;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 0 var(--base3),
    inset 0 0 0 var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
}
.dark .MoviesImg{
    padding: 10px;
    background: var(--baseDark2);
    border: none;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 0 var(--baseDark3),
    inset 0 0 0 var(--baseDark1),
    4px 4px 9px var(--baseDark3),
    -4px -4px 9px var(--baseDark1);
}

.MoviesImg:hover {
    outline: none;
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
}
.dark .MoviesImg:hover {
    outline: none;
    box-shadow: var(--base-shadow-active-dark);
    color: var(--baseDark2);
    border-color: var(--base3);
}
