header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 60px;
    align-items: center;
    background-color: var(--base2);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 0 0 var(--base3),
    inset 0 0 0 var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
}
.dark header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 60px;
    align-items: center;
    background-color: var(--baseDark2);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 0 0 var(--baseDark3),
    inset 0 0 0 var(--baseDark1),
    4px 4px 9px var(--baseDark3),
    -4px -4px 9px var(--baseDark1);
}

header a {
    text-decoration: none;
    color: var(--baseDark2);
    font-size: 30px;
}
.dark header a {
    text-decoration: none;
    color: var(--base2);
    font-size: 30px;
}

.ImgUserBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}
.MovieDB {
    margin-left: 15px;
}

.userPic {
    width: 35px;
}

.ImgUserBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.MLColorText{
    font-weight: bold;
}