.ButtonCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    --base1: #EBEFF3;
    --base2: #C3D0DB;
    --base3: #88A1B7;
    --baseDark1: #396387;
    --baseDark2: #204566;
    --baseDark3: #152E44;
    --base: #090E10;

    --base-shadow-active: inset 4px 4px 9px var(--base3),
    inset -4px -4px 6px var(--base1),
    2px 2px 9px var(--base3),
    -2px -2px 9px var(--base1);

    --base-shadow-active-dark: inset 4px 4px 9px var(--baseDark3),
    inset -4px -4px 6px var(--baseDark1),
    2px 2px 9px var(--baseDark3),
    -2px -2px 9px var(--baseDark1);
}
button{
    margin: 8px;
    padding: 10px;
    background: var(--base2);
    border: none;
    border-radius: .5rem;
    color: var(--baseDark3);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(.17, .67, .83, .67);
    box-shadow: inset 0 0 0 var(--base3),
    inset 0 0 0 var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
}
.dark button{
    background: var(--baseDark2);
    color: var(--base1);
    box-shadow: inset 0 0 0 var(--baseDark3),
    inset 0 0 0 var(--baseDark1),
    4px 4px 9px var(--baseDark3),
    -4px -4px 9px var(--baseDark1);
}

button:hover{
    outline: none;
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
}
.dark button:hover{
    outline: none;
    box-shadow: var(--base-shadow-active-dark);
    color: var(--base2);
    border-color: var(--base3);
}