* {
    text-decoration: none;
    color: #1a2e44;
    font-family: "Roboto Light", sans-serif;
    /*font-weight: 900;*/
}

h3 {
    font-size: 50px;
}

body {
    background-color: var(--base2);
}

.dark {
    background-color: var(--baseDark3);
}


.wrap {
    display: flex;
}

.DColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DFlex {
    display: flex;
    flex-direction: column;
}

.MovieWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchBar {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: var(--base2);
    box-shadow: var(--base-shadow-active);

}
.searchBar::placeholder{
    color: var(--baseDark3);
}

.dark .searchBar{
    background: var(--baseDark2);
    box-shadow: var(--base-shadow-active-dark);
}
.dark .searchBar::placeholder{
    color: var(--base1);
}

/*.wrap{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/

/*.wrap{*/
/*    display: flex;*/
/*    -ms-overflow-style: none;*/
/*    overflow-x: scroll;*/
/*}*/
/*.wrap::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
